.header {
    padding: 18px 0;
}

.header .logo-header-white {
    display: none;
}

.body.is-dark .header .logo-header-white {
    display: block;
}

.body.is-dark .header .logo-header-black {
    display: none;
}

.header .header-light-button {
    display: none;
    fill: #f2f2f2;
}

.body.is-dark .header .header-light-button {
    display: inline;
}

.body.is-dark .header .header-dark-button {
    display: none;
}


.header .nav-menu {
    display: none;
}

.header .logo-header-black {
    width: 74px;
    height: 20px;
}

.header .logo-header-white {
    width: 74px;
    height: 20px;
}

.header .svg {
    width: 20px;
    height: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header .svg-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
}

@media screen and (min-width:1280px) {

    .header .header-burger-menu-button {
        display: none;
    }

    .header .nav-menu {
        display: block;
    }

    .header .nav-list {
        display: flex;
        gap: 40px;
    }

    .header .nav-list-link {
        font-weight: 500;
        font-size: 15px;
        color: #2e2e2e;
    }

    .body.is-dark .header .nav-list-link {
        color: #f2f2f2;
    }
}

.body.is-dark .header .header-button {
    fill: #f2f2f2;
}