.story .story-title {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #2e2e2e;
    margin-top: 64px;
    margin-bottom: 48px;
    text-align: center;
    position: relative;
    padding-top: 16px;
}

.story .story-title::before {
    content: "";
    border: 1px solid #ffb568;
    width: 67px;
    height: 0px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.story .story-second-title {
    font-weight: 500;
    font-size: 24px;
    color: #2e2e2e;
    max-width: 241px;
    margin-bottom: 16px;
}

.story .story-text {
    font-weight: 400;
    font-size: 15px;
    color: #595959;
    margin-bottom: 40px;
}

.story .story-discover-button {
    box-shadow: 0 12px 24px 0 rgba(26, 26, 26, 0.2);
    background: #2b2b2b;
    width: 107px;
    height: 50px;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    padding: 16px 24px;
    margin-bottom: 390px;
}

.story .story-watch-image {
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 72px;
    left: 80px;
}

.story .story-orange-image {
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 32px;
    left: 24px;
    z-index: -1;
}

.story .container {
    position: relative;
}

@media screen and (min-width:1280px) {
    .story .story-desktop-wrapper {
        padding-left: 642px;
        padding-top: 213px;
    }

    .story .story-title {
        font-size: 20px;
        letter-spacing: 0.04em;
        margin-top: 0;
        margin-bottom: 40px;
        text-align: left;
    }

    .story .story-title::before {
        top: 0;
        left: 0;
        transform: translateX(5%);
    }

    .story .story-second-title {
        font-size: 36px;
        max-width: 362px;
        margin-bottom: 24px;
    }

    .story .story-text {
        font-size: 16px;
        margin-bottom: 40px;
    }

    .story .story-discover-button {
        font-size: 16px;
        margin-bottom: 134px;
    }

    .story .story-watch-image {
        width: 450px;
        height: 450px;
        bottom: 128px;
        left: 80px;
    }

    .story .story-orange-image {
        width: 450px;
        height: 450px;
        bottom: 48px;
        left: 0;
    }
}

.body.is-dark .story-title {
    color: #f2f2f2;
}

.body.is-dark .story-second-title {
    color: #f2f2f2;
}

.body.is-dark .story-text {
    color: #bfbfbf;
}

.body.is-dark .story-discover-button {
    box-shadow: 0 12px 24px 0 rgba(26, 26, 26, 0.2);
    background: #3d3d3d;
}